.body {
    background: linear-gradient(#00457A, #00457A, #FDE19B , #BF8B55, #BF8B55);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    margin: 0;
}

.photo{
    max-width: 75%;
    max-height: 50%;
}

#title, .subtitle, .post_title {
    color: #fff;
    border: 1px solid #000;
    text-align: center;
    background: #363F73;
    border-radius: 20px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    color: #fff;
    background: #2A438C;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 20%;
    border: 2px solid #000;
    width: 100%;
}

.contact_list {
    list-style-type: square;
    padding-left: 15px;
}

.contact_list li a {
    color: blue;
    text-decoration: none;
}

.construction {
    color: red;
    font-size: 50px;
    text-align: center;
}

.image_footer {
    margin-left: 50px;
}

.pilars_list {
    list-style-type: &#10040;
}